* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-section {
    background-color: #1f2937;
    padding-top: 10px;
}

.header-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.main-header {
    display: flex;
    justify-content: flex-start;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.links {
    display: flex;
    margin: 0px 15px;
}

.main-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links h3 {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.text-image-section {
    display: flex;
    justify-content: stretch;
}

.top-text {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;
    width: 430px;
    margin-bottom: 100px;
}

.title h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext h3 {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.image-placeholder {
    margin-top: 50px;
    margin-left: 680px;
    width: 500px;
    height: 250px;
    display: flex;
    justify-self: flex-end;
    background-color: #a3a3a3;
}

.image-placeholder h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: lighter;
}

.sign-up-button {
    width: 120px;
    height: 25px;
    margin-top: 15px;
    background-color: #3882f6;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 700;
    text-align: center;
}

.middle-section {
    background-color: #f9faf8;
    height: 400px;
}

.middle-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.middle-header h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 100px;
}

.box {
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10%;
}


.box-subtext-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    gap: 100px;
}

.box-subtext {
    margin-top: 8px;
    width: 160px;
    height: 20px;
    text-align: center;
}

.box-subtext h4 {
    color: #1f2937;
    font-weight: 200;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote {
    width: 800px;
    height: 100px;
    text-align: start;
    display: flex;
    justify-content: center;
}

.quote h2 {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-left: 520px;
}

.bottom-section {
    height: 300px;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.left-text {
    color: #f9faf8;
}

.left-text h3 {
    font-size: 18px;
    font-weight: 200;
}

.bottom-sign-up-button {
    width: 120px;
    height: 35px;
    margin-top: 15px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    color: #f9faf8;
    font-weight: 700;
    text-align: center;
}

footer {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: center;
}

footer h2 {
    margin-top: 30px;
    color: #f9faf8;
    font-weight: 400;
    font-size: 18px;
}