* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-section {
    background-color: #1f2937;
}

.header-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.main-header {
    display: flex;
    justify-content: flex-start;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.links {
    display: flex;
    margin: 0px 15px;
}

.main-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links h3 {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.text-image-section {
    display: flex;
    justify-content: stretch;
}

.top-text {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;
    width: 430px;
    margin-bottom: 100px;
}

.title h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext h3 {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.image-placeholder {
    margin-top: 50px;
    margin-left: 680px;
    width: 500px;
    height: 250px;
    display: flex;
    justify-self: flex-end;
    background-color: #a3a3a3;
}

.image-placeholder h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: lighter;
}

.sign-up-button {
    width: 120px;
    height: 25px;
    margin-top: 15px;
    background-color: #3882f6;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 700;
    text-align: center;
}
